@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

/* em se usar solo para margin bottom y top para lo demas usar rem */

/*------------------------------------*
    $Reset
\*------------------------------------*/
/* prettier-ignore */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, main, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* prettier-ignore */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
/*------------------------------------*
  $HTML and Body
\*------------------------------------*/
html {
  font-size: 10px;
  font-size: 62.5%; /*10px*/
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #f1f5f8;
  background: #c6ffdd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*------------------------------------*
  $Responsive
\*------------------------------------*/
@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}
img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/* selection */
::-moz-selection {
  color: #007ee5;
  text-shadow: none;
}

::selection {
  color: #007ee5;
  text-shadow: none;
}

.title {
  text-align: center;
  font-size: 5rem;
  margin: 1em auto;
  font-family: "Pacifico", cursive;
  color: tomato;
}
